

.card{
 height: 37vh;
 width: 26vh;
 
 background-image: url('https://i.imgur.com/o59ONmO.jpg');
 /* background-position: center center; */

 background-size: cover;
 background-repeat: no-repeat;
 transition: transform .2s;
 background-color: rgb(46, 46, 46);
 position: relative;
 box-shadow: 0 2px 5px rgb(211, 16, 16);
}

.card:hover{
    transform: scale(1.1);
    /* top: -2px; */
    box-shadow: 0 4px 5px rgba(16, 139, 57, 0.568);
}

#name{
    text-align:center;
    padding-top: 1.37vh;
    margin: 0px;
    font-size: 2.0vh;
    font-family: 'Source Code Pro', Joystix;

}

#img {
    width: 60%;
    /* overflow: hidden; */
    padding-left: 6vh;
    padding-top: 1vh;
    /* height: auto;     */
}

#hp{
    font-size: 300%;
    color: rgb(0, 0, 0);
    text-align: center;
    /* vertical-align: bottom; */
    top: 7vh;
    position: relative;
    /* height: ; */
    width: 22vh;
    /* bottom: vh; */
    left: 2vh;
    /* top: 0; */
    /* display: flex;
    align-items: flex-end */
}