#monstercardinmonsterfight{
    /* transform: scale(2); */
    /* bottom: 50px; */
    margin-bottom: 0vh;
}

  .start-btn{
    text-align: center;
    display: inline-block;
    margin:10vh;
    font-weight: bold;
    padding: 10px 10px 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    font-family: Joystix;
    transform: scale(1.5)
  }
 .start-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
    transform: scale(10)
  }