.card{
 height: 37vh;
 width: 26vh;
 background-image: url('https://i.pinimg.com/originals/0d/c3/44/0dc344feb7f8473d2bebdf8ba00c8ef0.png');
 background-size: cover;
 background-repeat: no-repeat;
 transition: transform .2s;
}

.card:hover{
    transform: scale(1.1);
}

#name{
    text-align:center;
    padding-top: 1.37vh;
    margin: 0px;
    font-size: 2.0vh;
    font-family: 'Source Code Pro', Joystix;

}

#img {
    width: 18vh;
    padding-left: 4vh;
    padding-top: 1vh;
    height: 24vh;    
}